/* колір основного тексту #212121 */
/* другорядний колір #757575 */
/* вторинний колір rgba(255, 255, 255, 0.6); */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* фон кнопки #188CE8 */
/* основний фон #FFFFFF */
/* хедер фон #FFFFFF */
/* футер фон #2F303A */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #ffffff;
  --main-page-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-button-color: #188ce8;
  --contact-info-color: rgba(255, 255, 255, 0.6);
  --third-button-color: #f5f4fa;
}

/*-------Скриває заголовки----------  */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--main-page-background-color);
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}
/* скриваю крапки */
.list {
  list-style: none;
}

/* --------------------------Logo-------------------------- */

.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-black {
  color: var(--main-text-color);
}

/* --------------------------Nav-------------------------- */

.nav-list .link {
  color: var(--main-text-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav-list .active {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.nav-list .link.current {
  color: var(--accent-color);
}
/* --------------------------Contact-------------------------- */

.contact-list .list {
  color: var(--secondary-text-color);
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contact-list .list:hover,
.contact-list .list:focus {
  color: var(--accent-color);
}

/* --------------------------Hero-------------------------- */

.hero {
  background-color: var(--secondary-background-color);
  color: var(--primary-white-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* --------------------------Button-------------------------- */

.hero-button {
  background-color: var(--accent-color);
}

.hero-button {
  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--second-button-color);
  color: var(--primary-white-color);
}

/* --------------------------Section-------------------------- */

.section .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* --------------------------Параграфи-------------------------- */
.text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* --------------------------Команда-------------------------- */

.team {
  background-color: var(--third-button-color);
}

.team-list {
  background-color: var(--main-page-background-color);
}

.team-name {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.work-position {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* --------------------------Footer-------------------------- */

.footer {
  background-color: var(--secondary-background-color);
}

.logo-white {
  color: var(--primary-white-color);
}

.footer-adress {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-list .footer-list {
  color: var(--contact-info-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
/* --------------------------Portfolio-------------------------- */

.button-main {
  color: var(--main-text-color);
  background-color: var(--third-button-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  cursor: pointer;
}

.section .button-main.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-main:hover,
.button-main:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* --------------------------Приклади-------------------------- */

.example-title {
  color: var(--main-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-list {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.link-brv {
  text-decoration: none;
}
